@use '../../sass/mixins'
@use '../../sass/variables'
@use '../../sass/fontes'

@media (max-width: 600px)
    .visitantes
        h1
            font-size: 1em
        h2
            font-size: 2em

    .guia
        width: 20em
        p
            font-size: 1em