@use '../../sass/mixins'
@use '../../sass/variables'
@use '../../sass/fontes'

@media (max-width: 600px)
    .cartas
        display: flex
        flex-direction: column

    .box_cartas
        display: flex
        flex-direction: column

@media (min-width: 601px) and (max-width: 1024px)
    .cartas
        display: flex
        flex-wrap: wrap

    .box_cartas
        display: flex
        flex-wrap: wrap
