@use '../../sass/mixins'
@use '../../sass/variables'
@use '../../sass/fontes'

@media (max-width: 600px)
    .logo
        position: absolute
        left: 50%
        transform: translateX(-50%)

        img
            width: 20em