@use '../../sass/mixins'
@use '../../sass/variables'
@use '../../sass/fontes'

@media (max-width: 600px)
    .footer
        display: flex
        flex-direction: column

    .caixa_footer_1
        display: flex
        flex-direction: column

    .caixa_footer
        margin-bottom: 1em

    .footer_2
        display: flex
        flex-direction: column

    .sobre_roda_pe
        flex-direction: column
        width: 22em
        margin-left: 0px
        @include mixins.center 
        
    .botoes
        width: 5em
        button
            width: 4em

    .noticias_roda_pe
        width: 22em

    .redes_roda_pe
        width: 22em

    .footer_3
        width: auto